<!DOCTYPE html><!--"Multipart/Alternative MIME" format-->
<head style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;height: 100%;margin: 0;padding: 0;width: 100%;">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MiloTab</title>
</head>

<body style="font-family: Arial,Helvetica,sans-serif;font-size: 12px;height: 100%;margin: 0;padding: 0;width: 100%;">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" style="margin:30px auto 30px auto;">
  <tr>
    <td height="1112" align="center" valign="middle">


<table border="0" align="center" cellpadding="0" cellspacing="0" style="width:800; background-color:#f1f1f1;">
  <tr>
    <td colspan="6" height="25" valign="bottom" style="background-color:#FFFFFF;">
    	<img src="http://www.milotab.pl/newsletter/n-top.png" width="800" height="25" style="display:block;" />
    </td>
  </tr>
  <tr>
    <td bgcolor="#060606" style="width:30px">&nbsp;</td>
    <td bgcolor="#060606" style="width:605px">&nbsp;</td>
    <td bgcolor="#060606" style="width:45px">&nbsp;</td>
    <td bgcolor="#060606" style="width:45px">&nbsp;</td>
    <td bgcolor="#060606" style="width:45px">&nbsp;</td>
    <td bgcolor="#060606" style="width:30px">&nbsp;</td>
  </tr>
  <tr>
    <td width="30" height="40" valign="middle" bgcolor="#060606" >&nbsp;</td>
    <td height="40" align="left" valign="middle" bgcolor="#060606"><img src="http://www.milotab.pl/newsletter/logo-pizzahut.png" /></td>
    <td height="40" align="right" valign="middle" bgcolor="#060606" >&nbsp;</td>
    <td height="40" align="right" valign="middle" bgcolor="#060606" ><a href="https://pl-pl.facebook.com/pizzahutpolska‎" title="PizzaHut Facebook" target="_blank" ><img src="http://www.milotab.pl/newsletter/s3.png" /></a></td>
    <td height="40" align="right" valign="middle" bgcolor="#060606" ><a href="https://twitter.com/pizzahut‎" title="PizzaHut Twitter" target="_blank"><img src="http://www.milotab.pl/newsletter/s2.png" /></a></td>
    <td width="30" height="40" valign="middle" bgcolor="#060606">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#060606" >&nbsp;</td>
    <td align="left" valign="top" bgcolor="#060606">&nbsp;</td>
    <td align="right" valign="top" bgcolor="#060606" >&nbsp;</td>
    <td align="right" valign="top" bgcolor="#060606" >&nbsp;</td>
    <td align="right" valign="top" bgcolor="#060606" >&nbsp;</td>
    <td width="30" valign="top" bgcolor="#060606">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><div style="width:800px;height:480px;overflow:hidden;"><img src="http://www.milotab.pl/newsletter/milotab-promo.png" /></div></td>
  </tr>

  <tr>
    <td colspan="6"><h1 style="color:#2384c6; font-family:'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif;text-align:center;font-size:26px;padding:5px;font-weight:100;">Witamy w naszym klubie!</h1></td>
  </tr>
  <tr>
    <td colspan="6"><div style="background-color:#e6e6e6;border-bottom:solid 1px #FFF;width:740px;height:1px;display:block;margin:auto auto;"></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="4">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="4" style="font-family:'Lucida Sans', Arial, sans-serif; font-size:13px; line-height:18px; color:#333; vertical-align:top;">
    Witaj!<br />
      <br />
      <p>Z przyjemnością witamy Ciebie w naszym klubie mailowym. Jesteśmy przekonani, że uczestnictwo naszym klubie da Tobie wiele satysfakcji. Dla naszych członków przygotowujemy wiele ciekawych i wyjątkowych ofert.</p>
      <p>Pozdrawiamy,<br />
        Restauracja PizzaHut</p>
    
    
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="4">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" style=" background:url(http://www.milotab.pl/newsletter/milotab-footer.png) no-repeat 700px 24px #3e4143; text-align:center;font-size:10px;color:#999999;padding:10px; font-family:Arial, Helvetica, sans-serif">Na powyższą wiadomość nie należy odpowiadać.<br />
      Została ona wysłana zgodnie z zasadami systemu <a href="http://milotab.pl/" style="color:#999999;font-weight:bold;text-decoration:underline;">MiloTab</a>, ponieważ użyto tego adresu do subskrypcji.<br>
      Aby anulować subskrypcję prosimy odwiedzić ten link: <a href="#" style="color:#999999;font-weight:bold;text-decoration:underline;">{{ obj.email }}</a></td>
  </tr>
  <tr>
    <td colspan="6" valign="top" style="background-color:#FFFFFF">
    <img src="http://www.milotab.pl/newsletter/n-bottom.png" width="800" height="25" style="display:block;" />
    </td>
  </tr>
</table>

</td>
  </tr>
</table>

</body>
</html>
