{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'dashboard' %}" class="glyphonicons home"><i></i>{% trans 'Home' %}</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'category_list' %}">{% trans "Categories" %}</a></li>
        <li class="divider"></li>
        <li>{% trans "Add new category" %}</li>
    </ul>
    <div class="separator bottom"></div>
    <div class="heading-buttons">
        <h3>{% trans "Add new category" %}</h3>
        <div class="clearfix"></div>
    </div>
    <div class="separator bottom"></div>

    <div class="innerLR">
        <div class="widget">
            {% if form.errors %}
                <div class="alert alert-warning">
                    {{ form.errors }}
                </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <div class="separator bottom"></div>
                <div>
                    <input type="submit" class="btn btn-primary" value="Add new category"/>
                </div>
            </form>
        </div>
    </div>
    <div id="colorpicker"style="display: none">
			<select name="colorpicker">
			  <option value="#e56d3b">Orange</option>
			  <option value="#459b99">Aqua</option>
			  <option value="#744a17">Brown</option>
		  	  <option value="#009d13">Green</option>
			  <option value="#00b2d8">Cyan</option>
			  <option value="#8f1758">Maroon</option>
			  <option value="#b93aab">Pink</option>
			</select>
		</div>
{% endblock content %}

{% block js %}
	{{ block.super }}

	<script src="{{ STATIC_URL }}common/bootstrap/extend/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}common/bootstrap/extend/jquery-simplecolorpicker/jquery.simplecolorpicker.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}common/bootstrap/extend/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css"/>
	<script type="text/javascript">
		var colors = {
			'#e56d3b': 0,
			'#459b99': 1,
			'#744a17': 2,
			'#009d13': 3,
			'#00b2d8': 4,
			'#8f1758': 5,
			'#b93aab': 6
		};
		$("#id_color_0").prop("checked", true);
		$('#colorpicker select').appendTo($('#id_color').parent());
		$('select[name="colorpicker"]').simplecolorpicker({theme: 'glyphicons'})
				.on('change', function(){
					var val = $('select[name="colorpicker"]').val();
					id = colors[val];
					$("#id_color_" + id).prop("checked", true);
				});
	</script>
{% endblock %}

