{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'dashboard' %}" class="glyphonicons home"><i></i>{% trans 'Home' %}</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'employee_list' %}">{% trans "Customers" %}</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'employee_detail' pk=object.pk %}">{{ object.name }}</a></li>
        <li class="divider"></li>
        <li>{% trans "Update" %} {{ object.name }} </li>
    </ul>
    <div class="separator bottom"></div>
    <div class="heading-buttons">

        <div class="clearfix"></div>
    </div>
    <div class="separator bottom"></div>

    <div class="innerLR">
        <div class="widget">
            {% if form.errors %}
                <div class="alert alert-warning">
                    {{ form.errors }}
                </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <div class="separator bottom"></div>
                <div>
                    <input type="submit" class="btn btn-primary" value="Save changes"/>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
