{% extends "modifiergroup_list.html" %}
{% load i18n %}
{% load panel_tags %}
{% load humanize %}
{% block modifiercontent%}

     <div class="widget">
            <table class="table table-bordered table-condensed table-striped table-primary, table-vertical-center">
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Groups" %}</th>
                        <th>{% trans "Cost" %}</th>
                        <th>{% trans "Price" %}</th>
                        <th>{% trans "Active" %}</th>
                        <th>{% trans "Action" %}</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">

                    {% for object in moditems %}
                        <tr>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="name" data-type="text" data-url="{% url 'modifier_update' pk=object.pk %}" data-title="Enter name">{{ object.name }}</span></td>
                            <td class="center"><span class="x-editable-choice" data-pk="{{object.pk}}" data-name="group" data-type="checklist" data-url="{% url 'modifier_update' pk=object.pk %}" data-title="Choose groups" data-value="{{object.group|groups_ids}}">{{ object|field_value:"group" }}</span></td>
                            <td class="right">
								$<span class="x-editable" data-pk="{{object.pk}}" data-name="cost" data-type="text" data-url="{% url 'modifier_update' pk=object.pk %}" data-title="Enter cost">
									{{ object.cost|floatformat:2|default:"0.00"|intcomma }}
								</span>
							</td>
                            <td class="right">
								$<span class="x-editable" data-pk="{{object.pk}}" data-name="price" data-type="text" data-url="{% url 'modifier_update' pk=object.pk %}" data-title="Enter price">
									{{ object.price|floatformat:2|default:"0.00"|intcomma }}
								</span>
							</td>
                            <td><span class="x-editable-select" data-pk="{{object.pk}}" data-name="active" data-type="select" data-url="{% url 'modifier_update' pk=object.pk %}" data-value="{{object.active}}">{{ object.active }}</span></td>
							<td class="center">
                                <a href="{% url 'modifier_update' pk=object.id %}">Edit</a>
                                <span class="action-separator"></span>
                                <a class="modal-delete" data-toggle="modal" data-target="#delete" data-name="{{object.name}}" data-id="{{object.id}}">Delete</a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "includes/paginator.html" %}
        </div>
{% endblock modifiercontent %}