{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load panel_tags %}
{% load humanize %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}common/theme/scripts/plugins/calendars/daterangepicker/daterangepicker-bs2.css" />

  <!-- Breadcrumb -->
  <ul class="breadcrumb">
    <li><a href="/" class="glyphicons home"><i></i>{% trans "Home" %}</a></li>
    <li class="divider"></li>
    <li>{% trans "Orders" %}</li>
  </ul>
  <div class="separator bottom"></div>
  <!-- // Breadcrumb END -->

  <!-- Heading -->
  <div class="heading-buttons">
    <h3>{% trans "Orders" %}</h3>
    <div class="clearfix"></div>
  </div>
  <div class="separator bottom"></div>
  <!-- // Heading END -->

  <div class="innerLR">
    <!-- Widget -->
    <div class="btn-right">
      <a class="btn" href="{% url 'order_create' %}"><i class="icon-plus"></i> {% trans 'Add Order' %}</a>
    </div>
    <div class="separator bottom"></div>
    <div class="widget">

      <!-- Widget heading -->
{#      <div class="widget-head">#}
{#	<h4 class="heading glyphicons list"><i></i>{% trans "View Orders" %}</h4>#}
{#      </div>#}
      <!-- // Widget heading END -->

      <div class="filters clearfix">
        <div class="row">
            {% with 'orders' as active %}
          {% include "reports/includes/filter.html" %}
            {% endwith %}
        <form method="post" >
        {% csrf_token %}
            {{ form }}
    	  <button class="btn orders btn-default" id="statusfilter">{% trans "Filter" %}</button>
          <a  class="btn orders btn-default" href="{% url 'ordersortlistclean' %}">{% trans "Clear Filter" %}</a>
         </form>
        </div>
      </div>

      <div class="widget-body">
	<!-- Products table -->

      {% if object_list %}
	<table class="table table-striped table-bordered">
	  <thead>
	    <tr>
	      <th class="center">{% trans "Order #" %}</th>
              <th class="center">{% trans "Order Total" %}</th>
              <th class="center">{% trans "Sold By" %}</th>
	      <th class="center">{% trans "Open Date" %}</th>
            <th class="center">{% trans "Close Date" %}</th>
              <th class="center">{% trans "Order Status" %}</th>
              <th class="center">{% trans "Actions" %}</th>
	    </tr>
	  </thead>
	  <tbody>
            {% for order in object_list %}
              <tr class="selectable">
                <td class="center"><a href="{% url 'order-detail' pk=order.pk %}">{{ order.pk }}</a></td>
                <td class="center">${{ order.grand_total|floatformat:2|default:"0.00"|intcomma }}</td>
                <td class="center">{{ order.emp_open }}</td>
                <td class="center">{{ order.open_date|timezone:tz|date:"m-d-Y h:i A" }}</td>
                <td class="center">{{ order.close_date|timezone:tz|date:"m-d-Y h:i A" }}</td>
                <td class="center">{{ order.get_status_display }}</td>
        {% if order.get_status_display == 'Hold' or order.get_status_display == 'Open' %}
		<td class="center">
		  <a href="{% url 'order-detail' pk=order.pk %}" class="btn-action glyphicons eye_open btn-success"><i></i></a>
		  <td class="left">
		  <a href="{% url 'order_create'%}">Edit</a>
		</td>
		{% else %}
		<td class="center">
		  <a href="{% url 'order-detail' pk=order.pk %}" class="btn-action glyphicons eye_open btn-success"><i></i></a>
		</td>
	      </tr>
	    {% endif %}
            {% endfor %}
	  </tbody>
	</table>
	<!-- // Products table END -->
        {% include "includes/paginator.html" %}
      {% else %}
      {% include 'reports/includes/empty.html' %}
      {% endif %}
      </div>
      <!-- // Options END -->

    </div>
  </div>
  <!-- // Widget END -->

</div>
{% endblock %}






