{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'dashboard' %}" class="glyphonicons home"><i></i>{% trans 'Home' %}</a></li>
        <li class="divider"></li>
        <li>{% trans "Product Special Price Groups" %}</li>
    </ul>
    <div class="separator bottom"></div>
    <div class="heading-buttons">
        <h3>{% trans "Customer Groups" %}</h3>
        <div class="clearfix"></div>
    </div>
    <div class="separator bottom"></div>

    <div class="innerLR">



        <div class="btn-right">
            <a class="btn" data-toggle="modal"  href="{% url 'specialprices_create' %}"><i class="icon-plus"></i> Add Speical Price</a>
        </div>
        <div class="separator bottom"></div>
        <div class="widget">
            <table class="table table-bordered table-condensed table-striped table-primary, table-vertical-center">
                <thead>
                    <tr>
                        <th class="center">{% trans "Product" %}</th>
                        <th class="center">{% trans "Group" %}</th>
                        <th class="center">{% trans "Price" %}</th>
                        <th class="center">{% trans "Action" %}</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">
                    {% for object in object_list %}
                        <tr>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="product" data-source='/terminalapi/sync/products/id/name' data-type="select" data-url="{% url 'specialprices_update' pk=object.pk %}" data-title="Enter group name">{{ object.product }}</span></td>
                            <td class="center"><span class="x-editable-select" data-pk="{{object.pk}}" data-name="group" data-type="select"  data-url="{% url 'specialprices_update' pk=object.pk %}" data-title="Enter group name">{{ object.group }}</span></td>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="price" data-type="text" data-url="{% url 'specialprices_update' pk=object.pk %}" data-title="Enter group name">{{ object.price }}</span></td>
							<td class="center">
{#								<a class="modal-edit" data-toggle="modal" data-target="#edit" data-name="{{object.last_name}}  {{object.first_name}}" data-id="{{object.id}}">Edit</a>#}
{#								<span class="action-separator"></span>#}
								<a class="modal-delete" data-toggle="modal" data-target="#delete" data-name="{{object.last_name}}  {{object.first_name}}" data-id="{{object.id}}">Delete</a>
							</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "includes/paginator.html" %}
        </div>
    </div>

	{% include "includes/modal_delete.html" %}
	{% include "includes/modal_add.html" %}
	{% include "includes/modal_edit.html" %}
			<div id="form-hidden"style="display: none"><table><tbody>{{form.as_table}}</tbody></table></div>


{% endblock content %}


{% block js %}
	{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}common/bootstrap/extend/bootstrap3-editable/css/bootstrap-editable.css"/>
	<script type="text/javascript" src="{{ STATIC_URL }}common/bootstrap/extend/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}common/theme/scripts/csrf_ajax.js"></script>
	<script type="text/javascript">
		var form = $('#form-hidden tbody').clone();
		$('.x-editable').editable({send: 'always'});


		$(document).on("click", ".modal-delete", function (ev) {
			ev.preventDefault();
			var id = $(this).data('id');
			var text = $(this).data('name');
			$(".modal-body p strong").html( text );
			$('#delete').modal('show');
			$('#btn-delete').click(function() {
				var url = '/specialprices/' + id + '/delete/';
				$.post(url, function() {
					location.href = '/specialprices/'
				})
			})
		});

                $('.x-editable-select').editable({
        source: function() {
            var result;
            $.ajax({
                url: '/terminalapi/sync/taskingroups',
{#                data: {t: 'zone'},#}
                type: 'GET',
{#                global: false,#}
                async: false,
                dataType: 'json',
                success: function(data) {
                    result = data.results;
                }
            });
            return result;
        }

        })


    		$(document).on("click", ".modal-add", function (ev) {
			ev.preventDefault();
			$("#add-modal-body table").html(form);
			$('#add-modal-body form').attr('action', '/specialprices/add/');
			$("#btn-add").click(function() {
				ev.preventDefault();
				$('#add-form').submit();
				$('#add').modal('hide');
			})
		});


	</script>
{% endblock %}