{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'dashboard' %}" class="glyphonicons home"><i></i>{% trans 'Home' %}</a></li>
        <li class="divider"></li>
        <li>{% trans "Suppliers" %}</li>
    </ul>
    <div class="separator bottom"></div>
    <div class="heading-buttons">
        <h3>{% trans "Suppliers" %}</h3>
        <div class="clearfix"></div>
    </div>
    <div class="separator bottom"></div>

    <div class="innerLR">

    <div style="padding-bottom: 15px">
        <form method="post" enctype="multipart/form-data" class="navbar-form pull-left">
            {% csrf_token %}
                <input type="text" value="{{ filter_tag }}" required name="filter_tag" placeholder="Search by Phone, Contact Name or Email" />
                <input type="submit" class="btn btn-primary" value="Filter"/>
                <a  class="btn btn-primary" style="margin-top: 5px" href="/supplier">Clean</a>
         </form>
    </div>

        <div class="btn-right">
            <a class="btn" href="{% url 'supplier_create' %}"><i class="icon-plus"></i> Add Supplier</a>
        </div>
        <div class="separator bottom"></div>
        <div class="widget">
            <table class="table table-bordered table-condensed table-striped table-primary, table-vertical-center">
                <thead>
                    <tr>
                        <th class="center">{% trans "Supplier Name" %}</th>
                        <th class="center">{% trans "Default Markup" %}</th>
                        <th class="center">{% trans "Contact First Name" %}</th>
                        <th class="center">{% trans "Contact Last Name" %}</th>
                        <th class="center">{% trans "Phone" %}</th>
                        <th class="center">{% trans "Mobile" %}</th>
                        <th class="center">{% trans "Fax" %}</th>
                        <th class="center">{% trans "Email" %}</th>
                        <th class="center">{% trans "Action" %}</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">
                    {% for object in object_list %}
                        <tr>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="supplier" data-type="text" data-url="{% url 'supplier_update' pk=object.pk %}" data-title="Enter supplier name">{{ object.supplier }}</span></td>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="default_markup" data-type="text" data-url="{% url 'supplier_update' pk=object.pk %}" data-title="Enter default markup">{{ object.default_markup }}</span></td>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="first_name" data-type="text" data-url="{% url 'supplier_update' pk=object.pk %}" data-title="Enter first name">{{ object.first_name }}</span></td>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="last_name" data-type="text" data-url="{% url 'supplier_update' pk=object.pk %}" data-title="Enter last name">{{ object.last_name }}</span></td>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="phone" data-type="text" data-url="{% url 'supplier_update' pk=object.pk %}" data-title="Enter phone">{{ object.phone }}</span></td>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="mobile" data-type="text" data-url="{% url 'supplier_update' pk=object.pk %}" data-title="Enter mobile phone">{{ object.mobile }}</span></td>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="fax" data-type="text" data-url="{% url 'supplier_update' pk=object.pk %}" data-title="Enter fax">{{ object.fax }}</span></td>
                            <td class="center"><span class="x-editable" data-pk="{{object.pk}}" data-name="email" data-type="text" data-url="{% url 'supplier_update' pk=object.pk %}" data-title="Enter email">{{ object.email }}</span></td>
                            <td class="center">
                                <a class="modal-edit" data-toggle="modal" data-target="#edit" data-name="{{object.last_name}}  {{object.first_name}}" data-id="{{object.id}}">Edit</a>
                                <span class="action-separator"></span>
                                <a class="modal-delete" data-toggle="modal" data-target="#delete" data-name="{{object.last_name}}  {{object.first_name}}" data-id="{{object.id}}">Delete</a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "includes/paginator.html" %}
        </div>
    </div>

    {% include "includes/modal_delete.html" %}
    {% include "includes/modal_add.html" %}
    {% include "includes/modal_edit.html" %}
            <div id="form-hidden"style="display: none"><table><tbody>{{form.as_table}}</tbody></table></div>


{% endblock content %}


{% block js %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}common/bootstrap/extend/bootstrap3-editable/css/bootstrap-editable.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}common/bootstrap/extend/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}common/theme/scripts/csrf_ajax.js"></script>
    <script type="text/javascript">
        var form = $('#form-hidden tbody').clone();

        $('.x-editable').editable({send: 'always'});

        $(document).on("click", ".modal-delete", function (ev) {
            ev.preventDefault();
            var id = $(this).data('id');
            var text = $(this).data('name');
            $(".modal-body p strong").html( text );
            $('#delete').modal('show');
            $('#btn-delete').click(function() {
                var url = '/supplier/' + id + '/delete/';
                $.post(url, function() {
                    location.href = '/supplier/'
                })
            })
        });

        $(document).on("click", ".modal-edit", function(ev) {
            ev.preventDefault();
            var id = $(this).data('id');
            var url = '/terminalapi/sync/suppliers';
            $("#edit-modal-body form table").html(form);
            $.get(url, function(data) {
                var employee = $.grep(data.results, function(e){return e.id == id})[0];
                $.each(employee, function(field, value) {
                        $('#edit-modal-body #id_'+field).val(value);
                });
            });
            $('#edit-modal-body form').attr('action', id+'/edit/')
            $('#btn-edit').click(function(ev) {
                ev.preventDefault();
                $('#edit-form').submit();
                $('#edit').modal('hide');
            })
        })
    </script>
{% endblock %}