{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <thead>
        <th><a href="{% url 'dashboard' %}"><i></i>{% trans 'Home' %}</a></th>
        <th class="divider">/</th>
        <th><a href="{% url 'customergroup_list' %}">{% trans "Customers Groups" %}</a></th>
        <th class="divider">/</th>
        <th>{% trans "Add New Customer Group" %}</th>
    </thead>

    <div class="table-responsive">
        {% if form.errors %}
            <div class="col-md-4">
               <tr>
                 <td>{% bootstrap_form form layout='horizontal' %}</td>
               </tr>
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <div class="panel col-md-4 offset-md-4 create-update-form">
                <h2 class="panel-title">
                   {% trans "Create customer group" %}
                </h2>
                {% csrf_token %}
                <table class="table" id="editableUser">
                    <div class="col-md-3">
                        <tr><td>{% bootstrap_field form.name layout='horizontal' %}</td></tr>
                        <tr><td>{% bootstrap_field form.archived layout='horizontal' %}</td></tr>
                    </div>
                </table>
                <div>
                    <button type="submit" class="btn btn-success waves-effect form-table-button">Add Customer Group</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
