{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<thead>
  <th><a href="{% url 'dashboard' %}"><i></i>{% trans 'Home' %}</a></th>
  <th class="divider">/</th>
  <th><a href="{% url 'discount_list' %}">{% trans "Discounts" %}</a></th>
  <th class="divider">/</th>
  <th>{% trans "Add new discount" %}</th>
</thead>

<div class="table-responsive">
        {% if form.errors %}
            <div class="alert alert-warning">
                {{ form.errors }}
            </div>
        {% endif %}
   <form method="post" enctype="multipart/form-data">
     <div class="panel col-md-4 offset-md-4">
         <h3 class="panel-title">
            New Tax Rate
         </h3>
         {% csrf_token %}

         <table class="table" id="editableUser">
         <div class="col-md-4">
            <tbody>
                <tr>
                    <td>{% bootstrap_field form.name %}</td>
                </tr>
                <tr>
                    <td>{% bootstrap_field form.value %}</td>
                </tr>
                <tr>
                    <td>{% bootstrap_field form.type %}</td>
                </tr>
            </tbody>
            </div>
         </table>
         <div>
             <button type="submit" class="btn btn-success waves-effect form-table-button">Add new discount</button>
         </div>
     </div>
   </form>
</div>
{% endblock content %}
