{% extends "base.html" %} {% block content %}
{% load i18n %}
{% load humanize %}


<div class="row clearfix">
    <div class="col-sm-12 col-md-3">
        <h1 class="page-title">{% trans "Displays" %}</h1>
    </div>
    <div class="hidden-md-up" style="height: 10px;">
    </div>

    <div class="col-sm-12 col-md-5">
        <!-- <div class="input-daterange" data-plugin="datepicker">
            <div class="input-group">
                <span class="input-group-addon">
                        <i class="icon md-calendar" aria-hidden="true"></i>
                      </span>
                <input type="text" class="form-control" name="start" placeholder="Start Date">
            </div>
            <div class="input-group">
                <span class="input-group-addon">to</span>
                <input type="text" class="form-control" name="end" placeholder="End Date">
            </div>
        </div> -->
    </div>


<div class="hidden-md-up" style="height: 50px;">
    </div>
    <div class="col-sm-12 col-md-4">

        <div class="pull-md-right" aria-label="Add Order">
            <a href="{% url 'display_create' %}"><button type="button" class="btn btn-success waves-effect"><i class="icon md-plus" aria-hidden="true"></i>{% trans "Add display" %} </button></a>
            <a href="{% url 'box_create' %}"><button type="button" class="btn btn-success waves-effect"><i class="icon md-plus" aria-hidden="true"></i>{% trans "Add Box" %} </button></a>
        </div>

    </div>
</div>

<div class="clearfix" style="height: 20px;"></div>
<div class="panel">
    <div class="panel-body" style="max-width: 100%; overflow-x: auto">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="m-b-15">
                    <!-- <button id="addToTable" class="btn btn-primary" type="button">
        <i class="icon md-plus" aria-hidden="true"></i> Add row
      </button> -->
                </div>
            </div>
        </div>
    {% if object_list %}
        <table class="table table-hover table-striped" cellspacing="0" id="exampleFixedHeader">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Manage Boxes" %}</th>
                    <th>{% trans "Action for Display" %}</th>
                </tr>


            </thead>
            <tbody>
                <tr>
                    {% for object in object_list %}
                    <td class="center">
                        <a href="{% url 'display_detail' pk=object.pk %}">{{object.name}}</a>
                    </td>
                    <td class="center">
                        {% for boxes in  object.boxes.all%}
                            <a href="{% url 'box_update' pk=boxes.id %} "><button type="submit" class="btn btn-warning waves-effect">Edit {{boxes}}</button></a>
                            <a href="{% url 'box_delete' pk=boxes.id %} "><button type="submit" class="btn btn-danger waves-effect">Delete {{boxes}}</button></a>
                            <br/>
                        {% endfor %}
                    </td>
                    <td class="center">
                        <a class="modal-edit" href="{% url 'display_update' pk=object.pk %}"><button class="btn btn-warning waves-effect"> {% trans "Edit" %}</button></a>
                    </td>
                </tr>
                    {% endfor %}

            </tbody>
        </table>
    {% else %}
        {% include 'reports/includes/empty.html' %}
    {% endif %}
    </div>
</div>

{% endblock content %}
