{% extends "base.html" %} {% block style %}

    {% load static %}
    {% load i18n %}
    {% load report_tags %}
    {% load humanize %}
    {% load panel_tags %}
    {% load tz %}
    <link rel="stylesheet" href="{% static '/static/vendor/select2/select2.css' %}"> {% endblock %} {% block content %}
    <thead>
    <th><a href="{% url 'dashboard' %}"><i></i>{% trans 'Home' %}</a></th>
    <th class="divider">/</th>
    <th><a href="{% url 'order-list' %}"{{ saved_url }}>{% trans "Orders" %}</a></th>
    <th class="divider">/</th>
    <th>Order#{{ object.id }}</th>
    </thead>
    <div class="row ">
        <div class="col-sm-12 col-md-4">
            {% if customer.address %}|Adress:{{ customer.address}}{% endif %}
            <h3>{% if customer.phone %}|Phone:{{ customer.phone }}{% endif %}</h3>
        </div>
        <div class="hidden-md-up" style="height: 10px;">
        </div>
        <div class="hidden-md-up" style="height: 50px;">
        </div>
        <div class="pull-md-right" aria-label="Order detail">
            {% if object.get_prev %}
                <a href="{% url 'order-detail' pk=object.get_prev.id %}"><button type="button" class="btn btn-primary waves-effect">{% trans '← Previous Order' %}</button></a>
            {% endif %}
            {% if object.get_next %}
                <a href="{% url 'order-detail' pk=object.get_next.id %}"><button type="button" class="btn btn-primary waves-effect">{% trans 'Next Order → ' %}</button></a>
            {% endif %}
        </div>
        <!-- <div class="col-sm-12 col-md-4">

                      <div class="pull-md-right" aria-label="Add Order" >
                        <button type="button" class="btn btn-success waves-effect"><i class="icon md-plus" aria-hidden="true"></i> New Order</button>
                      </div>

                    </div> -->

        <div class="hidden-sm-up" style="height: 10px;">
        </div>

        <div class="offset1">
        </div>

    </div>

    <div class="clearfix" style="height: 20px;"></div>
        <h2>Invoice</h2>
        <div class="panel">
            <div class="panel-body container-fluid" id="order">
            <div class="row">
                <div class="col-md-3">
                <img width="200px" class="margin-right-10" src="{{ STATIC_URL }}images/biyo_logo.png">
              <address>
                {{ store.name }}
                <br> {{ store.address }} {{ store.state }} {{ store.zipcode }}
                <br>
                  {{ store.city }}
                <br>
                <abbr title="Mail">E-mail:</abbr> {{ store.email }}
                <br>
                <abbr title="Phone">Phone:</abbr> {{ store.phone }}
                <br>
                <abbr title="Fax">Fax:</abbr> {{ store.fax }}
              </address>
            </div>
            <div class="col-md-3 col-md-offset-6 text-right invoice-info">
              <h4>Invoice Info</h4>
              <p>
                <a class="font-size-20" href="javascript:void(0)">#{{ object.number }}</a>
                <br> To:
                <br>
                  {% if customer %}
                      <span class="font-size-20">{{ customer }}</span>
                  {% else %}
                    No customer info
                  {% endif %}
              </p>
              <address>
                {{ customer.address }}
                <br> {{ customer.city }} {{ cudtomer.state }} {{ customer.zipcode }}
                <br>
                <abbr title="Phone">{{ customer.phone }}</abbr>
                  <br>
                <abbr title="Email">{{ customer.email }}</abbr>
                <br>
              </address>
              <span>{% trans "Open date" %}: {{ object.open_date|timezone:tz|date:"m-d-Y h:i A" }}</span>
              <br>
            {% if object.hold_date %}
              <span>{% trans "Hold date" %}: {{ object.hold_date|timezone:tz|date:"m-d-Y h:i A" |default:'-' }}</span>
              <br>
            {% endif %}
            {% if object.close_date %}
              <span>{% trans "Close date" %}: {{ object.close_date|timezone:tz|date:"m-d-Y h:i A"|default:'-' }}</span>
              <br>
            {% endif %}
                {% trans "Order status" %}:
                {{ object.get_status_display }}
                <br>
            {%  if object.emp_open == object.emp_close %}
                {% trans "Employee" %}:
                <a href="{% url 'employee_detail' pk=object.emp_open.id %}">{{object.emp_open}}</a>
                <br>
                {% elif object.emp_open != object.emp_close and object.emp_close != null %}
                {% trans "Employee" %}:
                <a href="{% url 'employee_detail' pk=object.emp_open.id %}">{{object.emp_open }}</a>, <a href="{% url 'employee_detail' pk=object.emp_close.id %}">{{object.emp_close }}</a>
                <br>
                {% elif object.emp_open %}
                <a href="{% url 'employee_detail' pk=object.emp_open.id %}">{{object.emp_open }}</a>
                <br>
            {% endif %}
            {% if object.terminal_id %}
                {% trans "Terminal" %}:
                <a href="{% url 'terminal_detail' pk=object.terminal_id %}">#{{ object.terminal_id }}</a>
                <br>
                {% if object.descriprion %}
                {% trans "Order description" %}:
                <div class="order-description">{{ object.description }}</div>
                {% endif %}
            {% endif %}
            </div>
            </div>
                <div class="separator bottom"></div>
                {#                    <div>#}
                {#                        <a href="{% url 'terminal_update' pk=object.pk %}">#}
                {#                            <button type="button" class="btn btn-warning waves-effect">{% trans "Edit" %}</button>#}
                {#                        </a>#}
                {#                        <a href="{% url 'terminal_delete' pk=object.pk %}">#}
                {#                            <button type="button" class="btn btn-danger waves-effect"> {% trans "Delete" %}</button>#}
                {#                        </a>#}
                {#                    </div>#}
                {% if order_items %}
                <div class="page-invoice-table table-responsive">
                    <h4 data-toggle="collapse" data-target="#items-accordion" class="accordion-toggle order-items-headline">{% trans "Order items" %}</h4>
                    <div id="items-accordion" class="collapse in">
                    <table class="table table-hover text-right">
                        <thead>
                        <tr>
                            <th class="order-items-table text-center">#</th>
                            <th class="order-items-table">{% trans "Name" %}</th>
                            <th class="order-items-table text-right">{% trans "Price" %}</th>
                            <th class="order-items-table text-right">{% trans "Discount" %}</th>
                            <th class="order-items-table text-right">{% trans "Tax" %}</th>
                            <th class="order-items-table text-right">{% trans "Quantity" %}</th>
                            <th class="order-items-table text-right">{% trans "Subtotal" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order_items %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-left">
                                    <a href ="{% url 'product_detail' pk=item.product_id %}">{{ item.name }}</a>
                                    <ul>
                                        {% for mod in item.get_modifiers %}<li>{{ mod.name }} - ${{ mod.price|floatformat:2 }}</li>{% endfor %}
                                    </ul>
                                </td>
                                <td>${{ item.price|floatformat:2|default:"0.00"|intcomma }}</td>
                                <td>${{ item.discount|floatformat:2|default:"0.00"|intcomma }}</td>
                                <td>${{ item.tax|floatformat:2|default:"0.00"|intcomma }}</td>
                                <td>{{ item.quantity|floatformat:-2|intcomma }}</td>
                                <td>${{ item|subtotal|floatformat:2|default:"0.00"|intcomma }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                {% endif %}
                {% if voided_items %}
                <div class="page-invoice-table table-responsive">
                    <h4 data-toggle="collapse" data-target="#voided-items-accordion" class="accordion-toggle order-items-headline">{% trans "Voided items" %}</h4>
                        <div id="voided-items-accordion" class="collapse in">
                    <table class="table table-hover text-right table-condensed" style="border-collapse:collapse;">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>{% trans "Name" %}</th>
                            <th class="text-right">{% trans "Price" %}</th>
                            <th class="text-right">{% trans "Discount" %}</th>
                            <th class="text-right">{% trans "Quantity" %}</th>
                            <th class="text-right">{% trans "Tax" %}</th>
                            <th class="text-right">{% trans "Subtotal" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in voided_items %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-left">
                                    {{ item.name }}
                                    <ul>
                                        {% for mod in item.modifiers.all %}<li>{{ mod.name }} - ${{ mod.price|floatformat:2 }}{% if mod.void_status %} (Removed){% endif %}</li>{% endfor %}
                                    </ul>
                                </td>
                                <td>${{ item.price|floatformat:2|default:"0.00"|intcomma }}</td>
                                <td>${{ item.discount|floatformat:2|default:"0.00"|intcomma }}</td>
                                <td>{{ item.quantity|intcomma }}</td>
                                <td>${{ item.tax|floatformat:2|default:"0.00"|intcomma }}</td>
                                <td>${{ item|subtotal|floatformat:2|default:"0.00"|intcomma }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                        </div>
                </div>
                {% endif %}

                {% if object.payments.all %}
                <div class="page-invoice-table table-responsive">
                    <table class="table table-hover text-right">
                        <thead>
                        <tr>
                            <h4>{% trans "Payments" %}:</h4>
                        </tr>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-right">{% trans "Amount" %}</th>
                            <th class="text-right">{% trans "Amount Paid" %}</th>
                            <th class="text-right">{% trans "Change Amount" %}</th>
                            <th class="text-right">{% trans "Payment Type" %}</th>
                            <th class="text-right">{% trans "Payment Date" %}</th>
                            <th class="text-right">{% trans "Transaction Type" %}</th>
                            <th class="text-right">{% trans "Signature" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in object.payments.all %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>${{ payment.amount|floatformat:2|default:"0.00"|intcomma }}</td>
                                <td>${{payment.amount|dodeduction:payment.change_amount|floatformat:2|default:"0.00"|intcomma }}</td>
                                <td>${{ payment.change_amount|floatformat:2|default:"0.00"|intcomma }}</td>
                                <td>
                                    {{ payment.payment_type.capitalize }}
                                    {% if  payment.payment_type != "Othercredit" and payment.payment_type != "Cash"%}
                                        <a class="details" data-toggle="modal" data-target=".modal" data-id="{{payment.id}}"> View Details</a>
                                        <br/>
                                        <a href="{% url 'add_tips' pk=payment.id %}"> Add Tips</a>
                                    {% endif %}
                                </td>
                                <td>{{ payment.payment_date|timezone:tz }}</td>
                                <td>{{ payment.get_transaction_type_display }}</td>
                                <td>
                                    {% if payment.signature %}
                                        <img width="200" src="data:image/jpg;base64,{{ payment.signature }}">
                                    {% endif %}
                                </td>
                                <td style="display: none" class="payment-data-{{payment.id}}">
                                    <ul>
                                        <li>Transaction ID: {{ payment.transaction_id }}</li>
                                        {% if payment.card_lastfour != None %}
                                            <li>Card Last Four: {{ payment.card_lastfour }}</li>
                                        {% endif %}
                                        <li>Processor Response: {{ payment.processor_response }}</li>
                                        <li>Batch Number: {{ payment.batch_num }}</li>
                                        <li>Check Number: {{ payment.check_number }}</li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

            <div class="order-total">
                <p>{% trans "Discount Items" %}:
                ${{ object.discount_items|floatformat:"2"|intcomma }}</p>
                <p>{% trans "Discount Orders" %}:
                ${{ object.discount_orders|default:'0.0'|floatformat:"2"|intcomma }}</p>
                <p>{% trans "Total Discount" %}:
                ${{ object.discount_total|floatformat:"2"|intcomma }}</p>
                <p>{% trans "Tips" %}:
                ${{ object.payments.all|get_tips|default:"0.00"|floatformat:"2"|intcomma}}</p>
                <p>{% trans "Balance remaining" %}:
                ${{ object.balance_remaining|floatformat:"2"|default:"0.00"|intcomma }}</p>
                <p>{% trans "Subtotal" %}:
                ${{ object.subtotal|floatformat:"2"|intcomma }}</p>
                <p>{% trans "Tax total" %}:
              ${{ object.tax_total|floatformat:"2"|intcomma }}</p>
                <p class="order-grand-total">{% trans "Grand" %}:
              ${{ object.grand_total|floatformat:"2"|intcomma }}</p>
            </div>

                        <form action="update/" method="POST">
                {% csrf_token %}
                <div class="order-buttons">
                    <button class="btn btn-primary btn-lg" name="action" value="duplicate">Duplicate</button>
                    {% if object.status == 3 %}
                        <button class="btn btn-primary btn-lg" name="action" value="share">Share</button>
                        <button class="btn btn-primary btn-lg" onclick="print()">Print</button>
                        {% if payment.payment_type == 'Cash' %}
                            <button class="btn btn-warning btn-lg" name="action" value="refund">Refund</button>
                        {% else %}
                            <button class="btn btn-warning btn-lg" name="action" disabled value="refund">Refund</button>
                        {% endif %}
                    {% elif object.status == 1 or object.status == 2 %}
                        <button class="btn btn-warning btn-lg" name="action" value="edit">Edit</button>
                        {% if payment and payment.payment_type == 'Cash' %}
                            <button class="btn btn-warning btn-lg" name="action" value="cancel">Cancel</button>
                        {% else %}
                            <button class="btn btn-warning btn-lg" name="action" disabled value="cancel">Cancel</button>
                        {% endif %}
                    {% endif %}
                </div>
            </form>
            </div>
        </div>




{% endblock content %} {% block scripts %}

    <script src="{% static '/static/js/Plugin/select2.js' %}"></script>
    <script src="{% static '/static/vendor/select2/select2.full.min.js' %}"></script>
    <script>
        function print() {
              var divToPrint=document.getElementById('order');
              var newWin=window.open('','Print-Window');
              newWin.document.open();
              newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');
              newWin.document.close();
              setTimeout(function(){newWin.close();},3000);
            }
    </script>
{% endblock %}
