{% extends "base.html" %} {% block style %}

{% load static %}
{% load i18n %}
{% load report_tags %}
{% load humanize %}
{% load panel_tags %}
<link rel="stylesheet" href="{% static '/static/vendor/select2/select2.css' %}"> {% endblock %} {% block content %}
<!-- body burdan basliyo -->
<thead>
   <th><a href="{% url 'dashboard' %}"><i></i>{% trans 'Home' %}</a></th>
   <th class="divider">/</th>
   <th><a href="{% url 'store_list' %}">{% trans "Stores" %}</a></th>
   <th class="divider">/</th>
   <th>{{ object.name }}</th>
</thead>
<div class="page-header" align="center">
    {% if object.logo %}
        <div class="avatar avatar-lg" style="width: 100px">
           <img src="/media/{{ object.logo }}" alt="...">
        </div>
    {% endif %}
   <h1>{% trans 'Store' %} "{{ object.name }}"</h1>
</div>
<div class="separator bottom"></div>
<div class="separator bottom"></div>

<div class="table-responsive">
      <div class="panel">
          <h3 class="panel-title">
            <strong>{% trans "Info about " %}"{{ object.name }}" {% trans ' store' %}:</strong>
          </h3>
          <table class="table table-bordered table-striped" id="editableUser">
              <tbody>
                {% for field_name in info_fields %}
                    <tr>
                        <th>
                            <strong>{{ object|field_verbose_name:field_name }}:</strong>
                        </th>
                        <th>
                            {{ object|field_value:field_name }}
                        </th>
                    </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="separator bottom"></div>
      <div>
          <table>
              <tbody>
                  <td>
                      <a href="{% url 'store_update' pk=object.pk %}">
                          <button type="button" class="btn btn-warning waves-effect">{% trans "Edit" %}</button>
                      </a>
                  </td>
                  <td>
                      <a href="{% url 'store_delete' pk=object.pk %}">
                          <button type="button" class="btn btn-danger waves-effect"> {% trans "Delete" %}</button>
                      </a>
                  </td>
              </tbody>
          </table>
      </div>
</div>

{% endblock content %}