{% extends 'account/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

<div class="page animsition vertical-align text-center" align="center" data-animsition-in="fade-in" data-animsition-out="fade-out" style="animation-duration: 800ms; opacity: 1; ">&gt;
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand" >
            <img class="brand-img" src="{{ STATIC_URL }}images/biyo_logo.png" alt="..." style="width: 100%">
            <h2 class="brand-text font-size-18">{% trans 'Enter new password' %}</h2>
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
          </div>
          <form method="post">
          {% csrf_token %}
            <div class="form-group form-material floating">
              {{ form.new_password1.errors }}
{#              {% bootstrap_form_errors form.new_password1.errors %}#}
              <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
              <input type="email" class="form-control" name="username" tabindex="1">
              <label class="floating-label">Email</label>
            </div>
            <div class="form-group form-material floating">
              <input type="password" class="form-control" name="password" tabindex="2">
              <label class="floating-label">Password</label>
            </div>
            <div class="form-group clearfix">
              <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
                <input type="checkbox" id="inputCheckbox" name="remember" value="remember-me" tabindex="3">
                <label class="checkbox" for="inputCheckbox">Remember me</label>
              </div>
              <a class="pull-right" href="{% url 'password_reset' %}">Forgot password?</a>
            </div>
            <button type="submit" tabindex="4" class="btn btn-primary btn-block btn-lg margin-top-40">Sign in</button>
          </form>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>© 2017. All RIGHT RESERVED.</p>
      </footer>
    </div>
  </div>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
