{% extends 'account/base.html' %}
{% load i18n %}

{% block content %}

<div class="page animsition vertical-align text-center" align="center" data-animsition-in="fade-in" data-animsition-out="fade-out" style="animation-duration: 800ms; opacity: 1; ">&gt;
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand" >
            <img class="brand-img" src="{{ STATIC_URL }}images/biyo_logo.png" alt="..." style="width: 100%">
            <h2 class="brand-text font-size-18">{% trans 'Password reset successful' %}</h2>
          </div>
          <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
          <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
          <a href="{% url 'login' %}">
            <button class="btn btn-primary btn-block btn-lg margin-top-40">
               {% trans 'Back to Log in' %}
            </button>
          </a>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>© 2017. All RIGHT RESERVED.</p>
      </footer>
    </div>
  </div>

{% endblock %}
